.git
.idea
.vscode

**/node_modules
**/dist/**
**/.next/**
**/out/**
**/build/**
**/coverage/**

**/.env
**/.env.*
!**/.env.example

**/uploads/**
**/public/uploads/**
**/tmp/**
**/temp/**

**/package-lock.json
**/npm-debug.log*
